
<loading-spinner *ngIf="spinnerVisible"></loading-spinner>

<div class="coll-view" *ngIf="!spinnerVisible">
  <h3>
    My Collections
  </h3>
  <div class="coll-list-cont">
    <ul class="col-list">
        <a *ngFor="let collection of collectionList" [routerLink]="['/home/collection/', collection.id]">
          <li class="col-name">
              {{ collection.name }}
          </li>
        </a>
    </ul>
  </div>

  <div class="footer-buttons">
      <button type="button" class="btn" [routerLink]="['/home/collection/create']">New</button>
      <button type="button" class="btn" [routerLink]="['/home/collection/delete']">Delete</button>
  </div>
</div>