<loading-spinner class="spin-large" *ngIf="spinnerVisible"></loading-spinner>

<div *ngIf="!spinnerVisible" class="modal-width">
  <form #form="ngForm">
    <div class="form-controls-std">
      <h3>Edit Collection - {{ collectionSettings?.name }}</h3>
  
      <input required name="collectionId" id="collectionId" type="hidden" [ngModel]="collectionSettings?.id" #collectionId="ngModel">

      <div class="form-group">
        <label for="collectionName" class="control control-text">Collection Name
          <input required maxlength="30" id="collectionName" type="text" name="collectionName" [ngModel]="collectionSettings?.name" #collectionName="ngModel">
        </label>
      </div>
  
      <div class="form-group">
        <label for="gridDisplay" class="control control-check">Grid Display
          <input id="gridDisplay" type="checkbox" name="gridDisplay" [ngModel]="collectionSettings?.gridDisplay" #gridDisplay="ngModel">
          <div class="checkbox-indicator"><div class="tick"></div></div>
        </label>
      </div>
      
      <div class="footer-buttons">
        <button type="button" class="btn btn-cancel" (click)="cancel()">Cancel</button>
        <button class="btn btn-submit" (click)="submit(form)" [disabled]="!form.valid || disableSubmit">Save</button>
      </div>
    </div>
  
    <div class="form-val-errors" *ngIf="!form.valid">
      <div *ngIf="collectionName.touched && collectionName.errors?.required">Collection name is required.</div>
      <div *ngIf="collectionName.touched && collectionName.errors?.maxlength">Collection name cannot exceed 30 characers.</div>
    </div>
  </form>
  
  <div class="alert alert-danger response-error" *ngIf="responseErrorVisible">
    An unexpected server error occured while processing the request.
  </div>
</div>