<loading-spinner class="spin-large" *ngIf="spinnerVisible"></loading-spinner>

<div class="modal-width" *ngIf="!spinnerVisible">
  <form [formGroup]="rForm" (ngSubmit)="submit(rForm.value)">
    <div class="form-controls-std">

      <h3>Profile Editor</h3>

      <div class="form-group ">
        <label class="control control-text control-with-val"> Display Name:
          <input type="text" formControlName="displayName">
          <div class="val-indicator">
              <div class="val-pending" *ngIf="!rForm.controls['displayName'].errors?.displayNameTaken && !displayNameValidated">
                <loading-spinner class="spin-small spin-dark"></loading-spinner>
              </div>
              <fa name="check" class="icon-bump icon-ok" *ngIf="!rForm.controls['displayName'].errors?.displayNameTaken && displayNameValidated"></fa>
              <fa name="close" class="icon-bump icon-err" *ngIf="rForm.controls['displayName'].errors?.displayNameTaken"></fa>
          </div>
        </label>
      </div>

      <div class="form-group">
        <label class="control control-text"> First Name:
            <input type="text" formControlName="firstName">
        </label>
      </div>

      <div class="form-group">
        <label class="control control-text"> Last Name:
            <input type="text" formControlName="lastName">
        </label>
      </div>

      <div class="footer-buttons">
        <button type="button" class="btn btn-cancel" (click)="cancel()">Cancel</button>
        <input type="submit" class="btn btn-submit" value="Update" [disabled]="!rForm.valid || disableSubmit">
      </div>
    </div>
    <div class="form-val-errors" *ngIf="!rForm.valid">
      <div *ngIf="rForm.controls['displayName'].touched && rForm.controls['displayName'].errors?.required">Display name is required!</div>
      <div *ngIf="rForm.controls['displayName'].touched && rForm.controls['displayName'].errors?.pattern">Display name can only contain letters and numbers!</div>
      <div *ngIf="rForm.controls['displayName'].touched && rForm.controls['displayName'].errors?.displayNameTaken">Display name is already taken!</div>
    </div>
  </form>

  <div class="alert alert-danger response-error" *ngIf="responseErrorVisible">
    An unexpected server error occured while processing the request.
  </div>
</div>
