<loading-spinner *ngIf="spinnerVisible"></loading-spinner>

<div *ngIf="!spinnerVisible" class="coll-del-confirm modal-width">
  <h3>Delete Item - {{ collectionItemView.name }}</h3>

    <div class="coll-del-warn">
        Are you sure that you want to delete the item <span class="text-atn">{{ collectionItemView.name }}</span> from the collection <span class="text-atn">{{ collectionItemView.collectionName }}</span>? This action cannot be undone.
    </div>

    <div class="footer-buttons">
        <button type="button" class="btn" [routerLink]="['/collectionitem/', collectionItemView?.collectionId, collectionItemView?.id]">No, Cancel</button>
        <button type="button" class="btn btn-item-del" (click)="confirmDelete()" [disabled]="disableSubmit">Yes, Delete Item</button>
    </div>

</div>
