<loading-spinner class="spin-large" *ngIf="spinnerVisible"></loading-spinner>

<form #form="ngForm" *ngIf="!spinnerVisible">
  <div>
    <div class="form-controls-std">
      <h3>Delete Collection</h3>
      
      <div class="form-group">
        <label class="control control-text">Select collection:
          <select required id="selectedCollection" name="selectedCollection" ngModel #selectedCollection="ngModel">
            <option *ngFor="let collection of collectionList" [value]="collection.id">{{ collection.name }}</option>
          </select>
        </label>
      </div>

      <div class="footer-buttons">
          <button class="btn btn-cancel" [routerLink]="['/home/collections/']">Cancel</button>
          <button class="btn btn-submit" (click)="submitDelete(form)" [disabled]="!form.valid || disableSubmit">Delete</button>
      </div>
    </div>

    <div class="form-val-errors" *ngIf="!form.valid">
        <div *ngIf="selectedCollection.touched && selectedCollection.errors?.required">Choose a collecton to delete.</div>
    </div>
  </div>
</form>

<div class="alert alert-danger response-error" *ngIf="responseErrorVisible">
  An unexpected server error occured while processing the request.
</div>