<loading-spinner class="spin-large" *ngIf="spinnerVisible"></loading-spinner>

<div class="coll-item-view modal-width" *ngIf="!spinnerVisible">
  <h3>
    {{ collectionItemView?.collectionName }} - {{ collectionItemView?.name }}
  </h3>
  
  <div class="coll-item-detail">
    <div class="coll-item-img-cont" *ngIf="collectionItemView?.showImage && collectionItemView?.imageUrl != ''">
      <img class="coll-item-img" [src]="collectionItemView?.imageUrl"/>
    </div>
    <div class="coll-item-desc">
      {{ collectionItemView?.description }}
    </div>
  </div>

  <div class="footer-buttons">
    <button type="button" class="btn" [routerLink]="['/home/collection/', collectionItemView?.collectionId]">Back</button>
    <button type="button" class="btn btn-edit" [routerLink]="['/home/collectionitem/edit/', collectionItemView?.collectionId, collectionItemView?.id]">Edit</button>
    <button type="button" class="btn btn-del" [routerLink]="['/home/collectionitem/delete/', collectionItemView?.collectionId, collectionItemView?.id]">Delete</button>
  </div>
</div>



