
.coll-item-view {
    width: 100%;
    background-color: #ffffff;
}

.coll-item-img-cont {
    width: 100%;
    padding: 12px;
}
.coll-item-img {
    width: 100%;
    height: auto;
    background-size: cover;
}