<loading-spinner *ngIf="spinnerVisible"></loading-spinner>

<div class="modal-width" *ngIf="!spinnerVisible">
    <h3>
        {{ profileView?.displayName }}
    </h3>

    <span>
        User Id: {{ profileView?.id }}
    </span>

    <span>
        Display Name: {{ profileView?.displayName }}
    </span>

    <span>
        First Name: {{ profileView?.firstName }}
    </span>

    <span>
        Last Name: {{ profileView?.lastName }}
    </span>

    <div class="footer-buttons">
        <button type="button" class="btn btn-edit" [routerLink]="['/home/profile/edit/', profileView?.userId]">Edit</button>
    </div>
</div>
