<loading-spinner class="spin-large" *ngIf="spinnerVisible"></loading-spinner>

<div class="modal-width" *ngIf="!spinnerVisible">
    <div class="profile-cont">
        <h3> {{ profileView?.displayName }} </h3>
        <div class="profile-props">
            <div>User Id: {{ profileView?.id }} </div>
            <div>Display Name: {{ profileView?.displayName }}</div>
            <div>First Name: {{ profileView?.firstName }}</div>
            <div>Last Name: {{ profileView?.lastName }}</div>
        </div>
        <div class="footer-buttons">
            <button type="button" class="btn btn-edit" [routerLink]="['/home/profile/edit/']">Edit</button>
        </div>
    </div>
</div>
