<loading-spinner *ngIf="spinnerVisible"></loading-spinner>

<div class="coll-view" *ngIf="!spinnerVisible">
  <h3>
    {{collectionView?.name}} 
    <span [routerLink]="['/collection/edit/', collectionView?.id]">
      <fa name="edit" class="icon-bump"></fa>
    </span>
    <button type="button" class="btn" [routerLink]="['/collectionitem/create/', collectionView?.id]">New Item</button>
  </h3>
  <div class="coll-items-cont">
    <ul [ngClass]="{'coll-items-grid':collectionView?.gridDisplay, 'coll-items-list':!collectionView?.gridDisplay}">
      <li *ngFor="let item of collectionView?.collectionViewItems">
        <div [routerLink]="['/collectionitem/', collectionView?.id, item.id]" class="std-link">
          <div class="coll-grid-img" *ngIf="collectionView?.gridDisplay" [ngStyle]="{'background-image':'url(' + item.thumbnailUri + ')'}"></div>
          <div class="coll-item-name">
            {{ item.name }}
          </div>
        </div>
        <div class="coll-item-opts">   
          <div class="coll-item-likes" ng-click="addLike(item.id)">
            0 likes
          </div>      
          <div class="coll-item-edit std-link" [routerLink]="['/collectionitem/edit/', collectionView?.id, item.id]">
            Edit
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
