<loading-spinner *ngIf="spinnerVisible"></loading-spinner>

<div class="coll-view" *ngIf="!spinnerVisible">
  <h3>
    {{collectionView?.name}} 
    <span [routerLink]="['/collection/edit/', collectionView?.id]">
      <fa name="edit" class="coll-title-icon"></fa>
    </span>
  </h3>
  <div class="coll-items-cont">
    <div class="display-controls">
      <div class="search-box">
          <button type="button" class="btn btn-search" (click)="filter()"><fa name="search"></fa></button>
          <input maxlength="30" id="searchTerm" type="text" name="searchTerm" [(ngModel)]="searchTerm">
          <fa *ngIf="searchTerm.length > 0" name="times" class="btn-clear" (click)="clearFilter()"></fa>
      </div>
      <div class="sort-toggle">
        <label for="sortByName" class="control control-check">A-Z
          <input id="sortByName" type="checkbox" name="sortByName" [ngModel]="false" (change)="sortToggle()">
          <div class="checkbox-indicator"><div class="tick"></div></div>
        </label>
      </div>
    </div>
    <ul [ngClass]="{'coll-items-grid':collectionView?.gridDisplay, 'coll-items-list':!collectionView?.gridDisplay}">
      <li *ngFor="let item of displayedCollectionItems | paginate: { itemsPerPage: 20, currentPage: pg }">
        <div [routerLink]="['/collectionitem/', collectionView?.id, item.id]" class="std-link">
          <div class="coll-grid-img" *ngIf="collectionView?.gridDisplay" [ngStyle]="{'background-image':'url(' + item.thumbnailUri + ')'}"></div>
          <div class="coll-item-name">
            {{ item.name }}
          </div>
        </div>
        <div class="coll-item-opts">   
          <div class="coll-item-likes" ng-click="addLike(item.id)">
            0 likes
          </div>      
          <div class="coll-item-edit std-link" [routerLink]="['/collectionitem/edit/', collectionView?.id, item.id]">
            Edit
          </div>
        </div>
      </li>
    </ul>
    <div class="pag-cont">
      <div class="pag-contr">
        <pagination-controls (pageChange)="pg = $event"></pagination-controls>
      </div>
      <div class="pag-item-count">{{displayedCollectionItems.length}} items</div>
    </div>
  </div>
  <div class="footer-buttons">
      <button type="button" class="btn" [routerLink]="['/collections/']">Back</button>
      <button type="button" class="btn btn-new-item" [routerLink]="['/collectionitem/create/', collectionView?.id]">New Item</button>
  </div>
</div>
