.col-list{
    list-style: none;
}

.col-name
{
    background-color: #ffffff;
    width: 100%;
    margin:0 auto 15px;
    color: #9a9a9a;
    padding:8px 12px;
    cursor: pointer;
}

.col-name:hover
{
    color: #28bb9e;
}